.title {
    color:cornflowerblue;
    background-color: aliceblue;
    font-size:xx-large;
    font-family: Trebuchet MS;

    text-align: center;
    border: 10px rgb(71, 207, 228) dotted;

    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;

} 

#important {
    color: rgb(62, 120, 168);
}

.body {
    font-family: Trebuchet MS;
    font-size:medium;
}